:root {
  --actient-color-: #4d5ae5;
  --title-color: #2e2f42;
  --main-color-text: #434455;
  --white-color: #ffffff;
  --hover-color: #404BBF;
  --footer-color-logo: #F4F4FD;
  --footer-color-text: #E7E9FC;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color-text);
}
/* header */
.header-list {
    list-style-type: none;
    }
/* logo */
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--title-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header-logo.header-web {
  color: var(--actient-color-);
}
/* Navigation */
.header-list .link {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
color: var(--title-color);
}
.header-list .link:hover,
 .header-list .link:focus {
    color: var(--hover-color);
}
/* Contacts */
.contacts {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-color-text);
text-decoration: none;
}
.contacts:hover,
.contacts:focus {
    color: var(--hover-color);
}
/* main */
/* hero */
.hero {
    color: var(--white-color);
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
}
.hero-bg {
    background-color: var(--title-color);
}
.btn-main {
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: var(--white-color);
flex: none;
order: 0;
flex-grow: 0;
background-color: var(--actient-color-);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
width: 169px;
height: 56px;
left: 636px;
top: 428px;
}
.btn-main:hover {
    background-color: var(--hover-color);
}
/* features */
.list {
    list-style-type: none;
}
.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.features-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
flex: none;
order: 1;
flex-grow: 0;
}
/* what are we doing */
.section-title {
    font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}
/* Our Team */
.card-name {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-color);
flex: none;
order: 0;
flex-grow: 0;
}
.card-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
flex: none;
order: 1;
flex-grow: 0;
}
/* footer */
.footer-logo {
    font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--footer-color-text);
text-decoration: none;
}
.footer-logo.footer-web {
color: var(--actient-color-);
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-color-text);
}
.footer {
    background-color: var(--title-color);
}
/* portfolio */
.list-portfolio {
    list-style-type: none;
}
/* filter */
.btn {
    background: var(--footer-color-logo);
border: 1px solid #E7E9FC;
border-radius: 4px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--actient-color-);
}
.btn-all {
    width: 69px;
}
.btn-web-site {
    width: 116px;
}
.btn-app {
    width: 78px;
}
.btn-design {
    width: 101px;
}
.btn-marketing {
    width: 126px;
}
.btn:hover {
    background: var(--hover-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
color: var(--white-color);
}
.card-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-color);
}
.portfolio-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
